@page
@model Senele.Solution.Web.Pages.Transactions.IndexModel
@section Stylesheets
    {

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}
<body>
    <div class="main-wrapper">
        <!--Body page---------------------------------------------------------------------->
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title">Client Transaction</h4>

                    </div>
                    <div class="col-sm-7 col-7 text-right m-b-30">
                        <a href="/Transactions/CreateTransaction?ClientId=@Model.ObjectToDisplay.clientInfo.ClientID" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add Transaction</a>
                    </div>
                </div>
                <div class="card-nav-tabs" style="width: 20rem;padding-top:10px;padding-bottom:10px">
                    <div class="card-header card-header-danger">
                        <b>Client: </b>@Model.ObjectToDisplay.clientInfo.Name @Model.ObjectToDisplay.clientInfo.Surname
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by transaction type..." title="Type in a name">
                        </div>
                    </div>
                </div>
                <!--Alert-->
                @{
                    if (ViewData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Danger!</strong>  @ViewData["Error"]
                        </div>
                    }

                }
                <!--/Alert-->
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/Clients">Clients</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Client Transactions</li>
                    </ol>
                </nav>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-border table-striped custom-table datatable mb-0">
                            <thead class="text-success">
                                <tr>
                                    <th>#</th>
                                    <th>Transaction Type</th>
                                    <th>Amount(R)</th>
                                    <th>Comment</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.ObjectToDisplay.transactionInfo.Select((value, i) => new { i, value }))
                                {

                                    <!-- Table row -->
                                    <tr>
                                        @{
                                            int Num = item.i + 1;
                                        }
                                        <td>@Num</td>
                                        <td>@item.value.TransactionTypeName </td>
                                        <td>@item.value.Amount </td>
                                        <td>@item.value.Comment </td>
                                        <td class="text-right">
                                            <a class='dropdown-item' href='/Transactions/UpdateTransaction?TransactionId=@item.value.TransactionID&ClientId=@item.value.ClientID'><i class='glyphicon glyphicon-edit'></i> Update</a>
                                        </td>


                                    </tr>
                                    <!-- Table END -->
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <!---------------------------------------------------------------------------------->

        </div>
    </div>

</body>
@section scripts {
    <script src="~/Scripts/PagingAndSearch/SearchByIndex.js"></script>
    <script src="~/Scripts/AlertMessages/Alert.js"></script>
}
